img {
    width: 128px;
    height: 128px;
    margin-left: 40%;
}
body{
    background-image: url(hintergrund.jpg);
}
h1{
    margin-left: 30%;
    color: blue;
    font-weight: bold;
}
#auswahl{
    padding-top: 5%;
}